name: Detect env file changes

on:
  workflow_call:
    inputs:
      iac:
        description: The path to the parameter stack of the service in the infra repo
        type: string
        default: 'ECS'
        required: false

jobs:
  detect-env-file-changes:
    name: Detect env file changes
    runs-on: ubuntu-latest

    permissions:
      pull-requests: write
      contents: read

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Get changed files
        id: changed-files
        uses: step-security/changed-files@v45
        with:
          files: '**/*.env'

      - name: Comment on PR if .env files are changed
        if: steps.changed-files.outputs.any_changed == 'true'
        uses: marocchino/sticky-pull-request-comment@v2
        with:
          message: |
            ⚠️ **env files changed** ⚠️

            One or more `.env` files have been modified in this PR.
            Please make sure to do the same modifications in ${{ inputs.iac }}
